/awstats/
index.php
wp-config.php
wp-cron.php
license.txt
readme.html
wp-activate.php
wp-blog-header.php
wp-load.php
wp-links-opml.php
wp-comments-post.php
wp-config-sample.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
.htaccess
.ftp-deploy-sync-state.json
*.sql
/wp-content/uploads
/wp-content/cache
/wp-content/uploads-webpc/
/wp-content/languages
/wp-content/lms-data
/wp-content/upgrade
/wp-content/upgrade-temp-backup
/wp-content/ai1wm-backups
/wp-content/upgrade_temp_backup
wp-content/plugins/wp-idea/vendor/upsell/wp-vimeo-api/.git
_old_wp-login.php
*.zip
*.mp4
*.webmp
*.mov
*.wmv
*.po
*.mo
*.pot
*.md