@charset "UTF-8";
/* Główna boxy */
.glowna_boxy {
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.glowna_boxy--grid .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.glowna_boxy--grid .box-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.glowna_boxy .row > div > div{
  width: 100%;
}

.glowna_boxy--grid .box {
  padding-bottom: 70px;
}

@media only screen and (min-width: 768px) {
  .glowna_boxy--grid .box {
    min-height: 480px;
  }
}

.glowna_boxy--grid .box_glowna_kategorie {
  padding-top: 0;
  margin-top: 0;
}

@media only screen and (min-width: 768px) {
  .glowna_boxy--grid-small .box {
    min-height: 450px;
  }
}

@media only screen and (min-width: 768px) {
  .glowna_boxy .col-sm-4:nth-child(2n+1) {
    clear: left;
  }
}

@media only screen and (min-width: 992px) {
  .glowna_boxy .col-sm-4:nth-child(2n+1) {
    clear: none;
  }
  .glowna_boxy .col-sm-4:nth-child(3n+1) {
    clear: left;
  }
}

.glowna_boxy .col-sm-3:nth-child(4n+1) {
  clear: left;
}

.box_glowna_add_to_cart a {
  max-width: 100%;
}

.glowna_boxy--list .box_glowna_add_to_cart a{
  padding-right: 5px;
  padding-left: 5px;
}

.box_glowna_add_to_cart a[data-edd-loading] {
  height: 48px;
  position: relative;
}

.box_glowna_add_to_cart a[data-edd-loading] .edd-add-to-cart-label {
  visibility: hidden;
  display: inherit;
}

.box_glowna_add_to_cart a[data-edd-loading] .edd-loading {
  display: block;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 0 !important;
}

.edd-loading .icon-spin {
  border: 2px solid #f3f3f300; /* Light grey */
  border-top: 2px solid #fbfbfd; /* Blue */
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.box_glowna_add_to_cart a[data-edd-loading] .edd-loading {
  height: 20px;
}

.edd-loading .icon-spin::before {
  display: none;
}