/* ---------------------------------- panel kursu (deprecated) -------------------------- */

.panel_kursu_tresci {
    margin-bottom: 50px;
}

#panel_kursu_slider {
    /*noinspection CssUnknownTarget*/
    background-image: url('{TEMPLATE_ASSETS_DIR}/img/panelkursu.jpg');
    height: 300px;
    background-position: 50% bottom;
    background-size: cover;
}

.krotki_slider {
    height: 400px;
    background-position: 50%;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 50px;
}

#strona_kursu_slider > div > h1,
.krotki_slider > div > div {
    font-size: 57px;
    color: white;
    max-width: 650px;
    line-height: 50px;
    font-weight: bold;
    font-family: var(--secondary-font);
    width: 100%;
    position: absolute;
    top: 50%;
    padding-top: 0;
    margin-top: 0;
    transform: translateY(-50%);
}

/* ---------------------------------- panel kursu / strona ofertowa - baner -------------------------- */
.wpi-course-banner {
    margin: 0 0 50px;
    background-color: var(--content-header-bg-color);
    position: relative;
}

.wpi-course-banner--without-image {
    min-height: 300px;
}

.wpi-course-banner__image {
    display: block;
    margin: 0 auto;
}

.wpi-course-banner__title-wrapper {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1180px;
    padding: 30px;
}

@media (max-width: 600px) {
    .wpi-course-banner__title-wrapper {
        padding: 10px;
    }
}

.wpi-course-banner__title {
    margin: 0;
    padding: 0;
    font-family: var(--secondary-font);
    font-weight: 900;
    color: var(--generic-white-color);
    font-size: 40px;
}

/* ---------------------------------- strona kursu ------------------------- */

#strona_kursu_slider {
    /*noinspection CssUnknownTarget*/
    background-image: url('{TEMPLATE_ASSETS_DIR}/img/stronakursu.jpg');
    background-size: cover;
}

.strona_kursu .contenter_tresci img {
    margin: 30px 0;
}

.strona_kursu_sidebar.fixed {
    position: absolute;
    top: 62px;
    right: 15px;
    padding-bottom: 59px;
}

.strona_kursu_sidebar {
    box-shadow: 0 0 17px -1px rgba(0, 0, 0, 0.05);
    background: white;
    border-radius: 5px;
    padding: 25px;
    max-width: 350px;
    float: right;
    width: 100%;
    z-index: 90;
    position: relative;
    border: 1px solid var(--box-border-color);
}

.strona_kursu_sidebar_tytul {
    color: var(--alt-text-color);
    font-size: 20px;
    font-weight: 600;
    font-family: var(--secondary-font);
    margin-bottom:10px;
}

.strona_kursu_sidebar .box_glowna_kategorie p {
    margin: 0;
    font-size: 13px;
}

.strona_kursu_sidebar .box_glowna_kategorie{
    margin: 0;
    padding: 0;
}

.strona_kursu_sidebar .strona_kursu_sidebar_box {
    margin: 30px 0;
}

.strona_kursu_sidebar .strona_kursu_sidebar_box p {
    margin-bottom: 5px;
    color: var(--main-text-color);
    font-size: 15px;
}

.strona_kursu_sidebar .strona_kursu_sidebar_box p span {
    font-weight: bold;
    color: var(--main-text-color);
}

.strona_kursu_sidebar .glowna_box_cena {
    position: initial;
    top: 0;
    width: 100%;
    border-bottom-right-radius: 0;
    border-top-left-radius: 5px;
    text-align: center;
    margin-top: 15px;
}

.strona_kursu_sidebar .glowna_box_cena_od, .strona_kursu_sidebar .glowna_box_cena_waluta {
    margin: 0;
    color: white;
    font-size: 11px;
}

.strona_kursu_sidebar .glowna_box_cena_cena {
    margin: 0;
    color: white;
    font-size: 17px;
}

.strona_kursu_sidebar .glowna_box_cena_promocyjna {
    border-radius: 0;
    margin-top: 0;
}

.strona_kursu_sidebar .box_glowna_add_to_cart {
    position: relative;
    margin: 0;
    padding: 0;
    bottom: 0;
}

.strona_kursu_sidebar .box_glowna_add_to_cart a {
    max-width: 100%;
    width: 100%;
    text-align: center;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.strona_kursu_sidebar .box_glowna_add_to_cart a img {
    margin: 0;
}

.strona_kursu_sidebar .box_glowna_wariant {
    padding: 0;
}

select[name="edd_options[price_id]"] option:disabled {
    background: #ccc;
    color: #888;
}

/* toast */
.jq-icon-info {
	background: var(--lesson-top-bg-color);
	color: var(--lesson-top-text-color);
	padding: 20px 25px;
	border-radius: 5px;
	vertical-align: middle;
	font-family: var(--secondary-font);
	font-weight: 600;
	font-size: 14px;
	line-height: 1.8;
	background-position: 17px;
	border-top-left-radius: 0;
}

span.jq-toast-loader {
	background-color: var(--lesson-icon-color) !important;
	height: 4px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.close-jq-toast-single {
	font-size: 27px;
	right: 10px;
}

.jq-toast-single a {
	font-size: inherit;
	border: 0;
	text-decoration: none;
	color: var(--generic-white-color);
	display: inline-block;
	padding: 0px 10px;
	background: var(--main-color);
	border-radius: 5px;
	text-transform: uppercase;
}
.jq-toast-wrap {
    bottom: 20px;
    right: 20px;
    left: initial !important;
    width: 400px;
    max-width: 90%;
}

@media (max-width: 1130px){
    .strona_kursu_sidebar.fixed, .strona_kursu_sidebar {
        position: initial;
        max-width: 100%;
    }
}

@media (max-width: 768px){
    .strona_kursu_sidebar.fixed, .strona_kursu_sidebar {
        position: initial;
        max-width: 100%;
        margin-bottom: 50px;
    }
}