.lesson-notes-tab .note-content {
    line-height: 22px;
    color: var(--lesson-text-color);
    margin-bottom: 20px;
    background: rgb(255, 255, 255);
    padding: 25px;
    border: 1px solid var(--box-border-color);
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 5%) 0px 0px 17px -1px;
}

.lesson-notes-tab button.edit-note-button, button.delete-note-button, form.add-note button[type='submit'] {
    background-color: var(--main-color);
    color: var(--generic-white-color);
    font-family: var(--secondary-font);
    font-weight: 600;
    border-radius: 6px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-image: initial;
    border-bottom: 2px solid var(--main-color-hover);
    text-transform: uppercase;
    font-size: 13px;
    box-shadow: rgb(0 0 0 / 6%) 2px 3px 5px;
    max-width: initial;
    width: 190px;
    height: 43px;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: center;
}

.lesson-notes-tab form.add-note label {
    color: var(--content-header-color);
    font-size: 20px;
    font-family: var(--secondary-font);
    font-weight: 500;
    margin-top: 40px;
    margin-bottom: 20px;
}

.lesson-notes-tab form.add-note textarea {
    margin-bottom: 20px;
}

.lesson-notes-tab button.delete-note-button {
    margin-left: 10px;
    background: #e8e8ee;
    color: var(--alt-text-color);
    border-bottom: 2px solid #e8e8ee;
}

.lesson-notes-tab .buttons-row {
    display: flex;
    justify-content: flex-end;
}

/* loader */
.lesson-notes-tab .loader {
    border: 3px solid #ffffff;
    border-top: 3px solid transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spinLessonNotesTabLoader 2s linear infinite;
}

.notes-tab-loader .loader {
    border-color: var(--alt-text-color);
    border-top-color: transparent;
    margin: 30px auto;
}

.lesson-notes-tab button.delete-note-button .loader {
    border-color: var(--alt-text-color);
    border-top-color: transparent;
}

@keyframes spinLessonNotesTabLoader {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}