@charset "utf-8";
/* CSS Document */


/* ~~~~~~ FORMULARZ ZAMÓWIENIA ~~~~~~ */

@font-face {
    font-family: 'modern_pictogramsnormal';
    src: url('{TEMPLATE_ASSETS_DIR}/fonts/modernpics-webfont.eot');
    src: url('{TEMPLATE_ASSETS_DIR}/fonts/modernpics-webfont.eot?#iefix') format('embedded-opentype'),
         url('{TEMPLATE_ASSETS_DIR}/fonts/modernpics-webfont.woff2') format('woff2'),
         url('{TEMPLATE_ASSETS_DIR}/fonts/modernpics-webfont.woff') format('woff'),
         url('{TEMPLATE_ASSETS_DIR}/fonts/modernpics-webfont.ttf') format('truetype'),
         url('{TEMPLATE_ASSETS_DIR}/fonts/modernpics-webfont.svg#modern_pictogramsnormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

.form .container {
    z-index: 899;
    position: relative;
}

.form .container .main section.content .wrapper,
.wpi-template .checkout-main-content .wrapper {
    text-align: left;
    margin: 0 auto;
    padding: 65px 15px 53px;;
    max-width: 800px;
}

.form .container .main section.content .wrapper h2,
#edd_checkout_user_info legend,
.bpmj_edd_invoice_data_invoice legend,
#login h1 a{
    text-align: center;
    margin-top: -7px;
    line-height: 40px;
    font-family: "Hind" /* secondary_font_family */, sans-serif;
    font-size: 30px;
}
.wpi-template h2.level-2-title{
     text-align: center;
     margin: 65px 0 35px;
     line-height: 40px;
     font-family: "Hind" /* secondary_font_family */, sans-serif;
     font-size: 30px;
 }

.form .container .main section.content .wrapper h3,
#edd_checkout_form_wrap fieldset legend {
    text-align: center;
    padding: 15px 0 21px;
    font-family: "Open Sans" /* main_font_family */, sans-serif; font-weight: bold;
    font-size: 19px;
}

.form .container .main section.content .wrapper p {
    margin: 0 auto;
    max-width: 100%;
    padding-bottom: 10px;
}

.form .container .main section.content .wrapper .button-wrapper {
    float: right;
    margin: 0;
    width: 32%;
}

.form .container .main section.content .wrapper .price-wrapper {
    width: 100%;
    max-width: 800px;
    overflow: hidden;
}

.form .container .main section.content .wrapper .price-wrapper .price, #edd_final_total_wrap {
    text-align: center;
    float: right;
    width: 32%;
    font-family: "Open Sans" /* main_font_family */, sans-serif; font-weight: bold;
    font-size: 19px;
}

.form .container .main section.content .wrapper .form-2 .code-wrapper {
    margin-bottom: 23px;
    overflow: hidden;
}

.form .container .main section.content .wrapper .form-2 .code-wrapper .code {
    padding-bottom: 0;
}

.form .container .main section.content .wrapper .form-2 .code-wrapper .code .show p {
    padding: 0 0 6px;
}

.form .container .main section.content .wrapper .form-2 .code-wrapper .code .show span {
    padding: 0;
    font-family: "Open Sans" /* main_font_family */, sans-serif; font-weight: bold;
    color: #81c0c2 /* links_color */;
    text-decoration: none;
    cursor: pointer;
}

.form .container .main section.content .wrapper .form-2 .code-wrapper .code .show span:hover {
    filter: brightness(105%);
    -webkit-filter: brightness(105%);
}

.form .container .main section.content .wrapper .form-2 .code-wrapper .code .button-wrapper {
    float: left;
}

.form .container .main section.content .wrapper .form-2 .code-wrapper .code .button-wrapper input {
    text-align: center;
}

.form .container .main section.content .wrapper .form-2 .code-wrapper .code .button-wrapper button {
    margin: 0 0 16px;
}

#edd_checkout_form_wrap .radio {
    margin: -32px 0 63px;
}

#edd_checkout_form_wrap .radio label {
    position: relative;
    display: inline-block;
    margin-right: 15px;
    padding-left: 25px;
    font-family: "Open Sans" /* main_font_family */, sans-serif; font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

#edd_checkout_form_wrap .radio input[type=radio] {
    display: none;
}

#edd_checkout_form_wrap .radio label:before {
    background-color: #e0e4ec /* border_color */;
    position: absolute;
    content: "";
    display: inline-block;
    top: 7px;
    bottom: 0;
    left: 0;
    margin-right: 10px;
    width: 17px;
    height: 17px;
}

#edd_checkout_form_wrap .radio label:before {
    border-radius: 8px;
}

#edd_checkout_form_wrap .radio input[type=radio]:checked + label:before {
    text-align: center;
    content: "\2022";
    line-height: 15px;
    font-size: 30px;
    color: #fff;
}

#edd_checkout_form_wrap .checkbox:first-of-type {
    margin-top: 40px;
}

#edd_checkout_form_wrap .edd-terms-agreement label,
#edd_checkout_form_wrap .bpmj-eddcm-custom-checkbox label,
.bpmj_edd_invoice_data_invoice_check label,
#edd_checkout_form_wrap #edd_purchase_submit > fieldset label {
    position: relative;
    display: inline-block;
    margin-right: 15px;
    padding-left: 25px;
    font-family: "Open Sans" /* main_font_family */, sans-serif; font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

#edd_checkout_form_wrap input[type=checkbox] {
    display: none;
}

#edd_checkout_form_wrap .edd-terms-agreement label:before,
#edd_checkout_form_wrap .bpmj-eddcm-custom-checkbox label:before,
.bpmj_edd_invoice_data_invoice_check label:before,
#edd_checkout_form_wrap #edd_purchase_submit > fieldset label:before {
    background-color: #e0e4ec /* border_color */;
    position: absolute;
    content: "";
    display: inline-block;
    top: 8px;
    bottom: 0;
    left: 0;
    margin-right: 10px;
    width: 17px;
    height: 17px;
}

#edd_checkout_form_wrap .edd-terms-agreement input[type=checkbox]:checked + label:before,
#edd_checkout_form_wrap .bpmj-eddcm-custom-checkbox input[type=checkbox]:checked + label:before,
#edd_checkout_form_wrap #edd_purchase_submit > fieldset input[type=checkbox]:checked + label:before,
#edd_checkout_form_wrap .bpmj_edd_invoice_data_invoice_check label.checked:before {
    text-align: center;
    content: "\2713";
    line-height: 17px;
    font-size: 15px;
    color: #fff;
}

.form .container .main section.content .wrapper .form-2 .user {
    padding-bottom: 0;
}

.form .container .main section.content .wrapper .form-2 .user label, #edd_checkout_form_wrap .edd-label {
    font-family: "Open Sans" /* main_font_family */, sans-serif; font-weight: bold;
    font-size: 15px;
}

.form .container .main section.content .wrapper .form-2 .user label + p, #edd_checkout_form_wrap .edd-description {
    margin-top: -11px;
    padding-bottom: 0;
    font-size: 13px;
}

.form .container .main section.content .wrapper .form-2 .user button {
    margin: 15px auto 27px;
}


.form .container .main section.content .wrapper .form-2 .agreement-wrapper {
    padding: 30px 0 0;
}

.form .container .main section.content .wrapper .form-2 .agreement-wrapper .show p {
    padding: 0;
    font-family: "Open Sans" /* main_font_family */, sans-serif; font-weight: bold;
    color: #81c0c2 /* links_color */;
    text-decoration: none;
    cursor: pointer;
}

.form .container .main section.content .wrapper .form-2 .agreement-wrapper .show p:hover {
    filter: brightness(105%);
    -webkit-filter: brightness(105%);
}

.form .container .main section.content .wrapper .form-2 .agreement-wrapper .content p {
    padding: 0;
}

.form .container .main section.content .wrapper .form-2 .price-wrapper {
    padding-top: 30px;
    max-width: 610px;
}

.form .container .main section.content .wrapper .form-2 .price-wrapper .price, #edd_final_total_wrap {
    text-align: left;
    float: none;
    width: 100%;
}

.form .container .main section.content .wrapper .form-2 button {
    margin: 15px auto 27px;
}

/**/

@media screen and (max-width: 600px) {
    .form .container .main section.content .wrapper {
        text-align: center;
    }

    .form .container .main section.content .wrapper .button-wrapper, .form .container .main section.content .wrapper .price-wrapper .price {
        float: none;
        width: 100%;
    }

    .form .container .main section.content .wrapper .form-1 .table-wrapper table th, .form .container .main section.content .wrapper .form-1 .table-wrapper table td {
        padding: 12px 10px;
        width: 33.333%;
        line-height: 21px;
        font-size: 13px;
    }

    .form .container .main section.content .wrapper .form-1 .table-wrapper table th:first-child, .form .container .main section.content .wrapper .form-1 .table-wrapper table td:first-child {
        padding: 12px 10px;
        width: 33.333%;
    }

    .form .container .main section.content .wrapper .form-1 .table-wrapper table th:last-child, .form .container .main section.content .wrapper .form-1 .table-wrapper table td:last-child {
        padding: 12px 10px;
    }

    .form .container .main section.content .wrapper .form-2 .price-wrapper .price {
        text-align: center;
    }

    .form .container .main section.content .wrapper .form-2 .user label + p {
        margin-top: -5px;
        margin-bottom: 6px;
        line-height: 21px;
    }

    .form .container .main section.content .wrapper .form-2 .agreement-wrapper .content p {
        font-size: 13px;
    }
}

@media screen and (max-width: 415px) {
    .form .container .main section.content .wrapper .form-2 .code-wrapper .code .show span {
        display: block;
    }
}



#edd_checkout_form_wrap fieldset, #edd_profile_editor_form fieldset, .edd_form fieldset {
	border: none;
	padding: 0;
}

#edd_checkout_user_info legend, .bpmj_edd_invoice_data_invoice legend{
	margin: -7px auto 30px auto;
}

#edd_discount_code #edd-discount{
	width: 250px;
  margin: 0 0 17px;
}

#edd_discount_code .edd-apply-discount{
	width: 250px;
}

#edd_checkout_cart .edd_cart_total{
	text-align: right;
  border: none !important;
  padding-top: 35px !important;
}

#edd_checkout_form_wrap .edd-description{
	display: block;
	width: 100%;
}

select[name="bpmj_edd_invoice_data_invoice_type"]{
	display: block;
}

#edd_checkout_form_wrap #edd_final_total_wrap{
	margin: 30px 0;
}

#bpmj_edd_invoice_data_company_name_p {
    display: none;
}

#bpmj_edd_invoice_data_nip_p {
    display: none;
}

#edd-card-wrap {
    margin-bottom: 25px;
}

/* stripe payment errors */
/* stripe - default */
.edd-stripe-alert {
    background: white;
    border: 1px solid #F44336;
    padding: 10px 10px 10px 40px;
    line-height: 1.5;
    font-weight: 600;
    position: relative;
    text-align: left;
}

.edd-stripe-alert::before {
    content: "\f534"; /* dashicons-warning */
    font-family: dashicons;
    width: 20px;
    height: 20px;
    display: block;
    text-align: center;
    line-height: 1;
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

/* stripe - error */
.edd-stripe-alert.edd-alert-error {
    color: #fff;
    background: #F44336;
}

.edd-stripe-alert.edd-alert-error::before {
    content: "\f153"; /* dashicons-dismiss */
    color: #fff;
}

.form-wrapper input {
    background: #f1f1f8;
    border: 1px solid #e0e4ec;
    display: block;
    margin: 0 auto 17px;
    padding: 17px;
    width: 100%;
    height: 58px;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    color: #1c1d21;
}

.form-wrapper textarea {
    background: #f1f1f8;
    border: 1px solid #e0e4ec;
    display: block;
    margin: 0 auto 17px;
    padding: 17px;
    width: 100%;
    height: 205px;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
}

.form-wrapper button {
    background: #e0e4ec;
    background-repeat: repeat;
    background-repeat: repeat;
    background-repeat: no-repeat;
    margin: 0 auto 27px;
    padding: 0 37px;
    width: 100%;
    height: 58px;
    line-height: 53px;
    font-family: "Open Sans",sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #1c1d21;
    text-transform: uppercase;
    border: 0;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: 0px;
    cursor: pointer;
    border-bottom: 5px solid #ced4e0;
}

.form-wrapper p {
    text-align: left;
}

.payment-error {
    background: #c90000;
    color: #fff;
    margin-bottom: 40px;
    padding: 20px;
}
