@charset "utf-8";
/* CSS Document */

.form .container .main section.content .wrapper .edd-alert > p {
}
.form .container .main section.content .wrapper .edd-alert-error > p {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1 /* input_border_color */;
}
.form .container .main section.content .wrapper #edd_checkout_wrap {
	margin-top: 44px;
}

#edd_user_history,
#edd_checkout_wrap table,
#edd_purchase_receipt,
#edd_purchase_receipt_products {
	margin: 0 auto;
	width: 100%;
	max-width: 800px;
}
#edd_checkout_wrap {
	overflow: hidden;
}


#edd_checkout_user_info{
	margin-top: 50px;
}

.form .container .main section.content .wrapper .bpmj_edd_invoice_data_invoice{
	display: none;
}

#edd_checkout_wrap table th,
#edd_checkout_wrap table td,
#edd_user_history th,
#edd_user_history td,
#edd_purchase_receipt_products th,
#edd_purchase_receipt_products td,
#edd_purchase_receipt th,
#edd_purchase_receipt td {
	border: 1px solid #e0e4ec /* border_color */;
	padding: 12px 10px;
	width: 16%;
}

#edd_purchase_receipt th:first-child {
	width: 30%;
	border-left: 0;
}

#edd_user_history th:first-child,
#edd_user_history td:first-child,
#edd_checkout_wrap table th:first-child,
#edd_checkout_wrap table td:first-child,
#edd_purchase_receipt_products th:first-child,
#edd_purchase_receipt_products td:first-child {
	border-left: 0;
	padding: 12px 10px 12px 0;
	width: 68%;
}

#edd_user_history th,
#edd_user_history td,
#edd_user_history th:first-child,
#edd_user_history td:first-child {
	width: 25%;
}

#edd_user_history th:last-child,
#edd_user_history td:last-child,
#edd_checkout_wrap table th:last-child,
#edd_checkout_wrap table td:last-child,
#edd_purchase_receipt_products th:last-child,
#edd_purchase_receipt_products td:last-child {
	border-right: 0;
	padding: 12px 0 12px 10px;
}

#edd_purchase_receipt th:last-child, #edd_purchase_receipt td:last-child {
	width: 70%;
	border-right: 0;
	padding: 12px 0 12px 10px;
}

#edd_checkout_wrap table th,
#edd_user_history th,
#edd_purchase_receipt_products th,
#edd_purchase_receipt thead th,
#edd_purchase_receipt thead td {
	border-top: 0;
}

#edd_checkout_wrap table th,
#edd_user_history th,
#edd_purchase_receipt_products th,
#edd_purchase_receipt th,
#edd_purchase_receipt td:first-child {
	font-family: "Open Sans" /* main_font_family */, sans-serif; font-weight: bold;
	font-size: 19px;
}

#edd_purchase_receipt td:first-child {
	border-left: 0;
}

#edd_checkout_wrap table td,
#edd_user_history td,
#edd_purchase_receipt_products td,
#edd_purchase_receipt td {
	border-bottom: 0;
	font-size: 15px;
}

#edd_checkout_form_wrap fieldset.bpmj_edd_invoice_data_invoice_check,
#edd_checkout_form_wrap .bpmj-eddcm-custom-checkbox,
#edd_checkout_form_wrap #edd_purchase_submit > fieldset {
	border: 1px solid #eee /* border_color */;
	padding: 1.387em;
	margin: 0 0 21px;
}

#edd_checkout_form_wrap .bpmj-eddcm-custom-checkbox {
	margin-left: 2px;
	margin-right: 2px;
}

#edd_checkout_form_wrap #edd_purchase_submit > fieldset > p {
	padding: 0;
}

.edd_download {
	float: left;
}
.edd_download_columns_1 .edd_download { width: 100%; }
.edd_download_columns_2 .edd_download { width: 50%; }
.edd_download_columns_0 .edd_download,
.edd_download_columns_3 .edd_download { width: 33%; }
.edd_download_columns_4 .edd_download { width: 25%; }
.edd_download_columns_5 .edd_download { width: 20%; }
.edd_download_columns_6 .edd_download { width: 16.6%; }
.edd_download_inner {
	padding: 0 8px 8px;
	margin: 0 0 10px;
}
.edd_download_image {
	max-width: 100%;
}
.edd_download .edd_price {
	margin-bottom: 10px;
}
.edd_download_excerpt p {
	height: 128px;
	overflow: hidden;
	box-sizing: content-box;
	padding: 15px 15px;
}
.edd_purchase_submit_wrapper {
	position: relative;
}
.edd_purchase_submit_wrapper a.edd-add-to-cart {
	text-decoration: none;
	display: none;
	position: relative;
	overflow: hidden;
}
.edd_purchase_submit_wrapper a.edd-add-to-cart.edd-has-js {
	display: inline-block;
}
.edd_purchase_submit_wrapper .edd-cart-ajax {
	display: none;
	position: relative;
	left: -35px;
}
.edd-submit.button.edd-ajax-loading {
	padding-right: 30px;
}
.edd-add-to-cart .edd-add-to-cart-label {
	opacity: 1;
	filter: alpha(opacity=100);
}
a.edd-add-to-cart .edd-add-to-cart-label {
	-webkit-transition: .1s opacity !important;
	-moz-transition: .1s opacity !important;
	-ms-transition: .1s opacity !important;
	-o-transition: .1s opacity !important;
	transition: .1s opacity !important;
}
.edd-add-to-cart[data-edd-loading] .edd-add-to-cart-label {
	opacity: 0;
	filter: alpha(opacity=0);
}
.edd-cart-added-alert {
	display: block;
	position: absolute;
	width: 100%;
	background: #f1f1f8 /* box_bg_color */;
	color: #1c1d21 /* box_text_color */;
	text-align: center;
	font-size: small;
	bottom: 0;
}
.edd-add-to-cart[data-edd-loading] {
	background: #ece6d8 url(/wp-admin/images/spinner.gif) no-repeat center center;
}
#edd_download_pagination {
	text-align: center;
}

.edd-add-to-cart.button, .edd_go_to_checkout.button, .edd_purchase_submit_wrapper > .button {
	text-align: center;
}

.edd_cart_item_image {
	float: left;
	margin-right: 1em;
}

.edd_cart_item_image img {
    vertical-align: middle;
}

form.edd-sales-disabled a {
	opacity: 0.3 !important;
	cursor: default;
}

.container .main section.content .wrapper .edd_price_options ul {
	margin-left: 0;
}

.container .main section.content .wrapper .edd_price_options ul li {
	list-style-type: none;
}

.single-download .container .main section.content .wrapper {
	max-width: 1200px;
}

.single-download .edd_purchase_submit_wrapper {
	text-align: center;
}

.single-download .edd_purchase_submit_wrapper .edd-submit {
	max-width: 600px;
}

.bpmj-eddcm-voucher-table .edd_cart_item_price,
.bpmj-eddcm-voucher-table .edd_cart_actions,
.bpmj-eddcm-voucher-table .edd_cart_total,
.bpmj-eddcm-voucher-table #edd_final_total_wrap {
	display: none;
}

.bpmj-eddcm-voucher-table .edd_cart_item_name {
	border-right: none;
}