html {
    --main-color-hover: #e56b65 /* main_color_hover */;
    --main-color: #f67d77 /* main_color */;
    --bg-color: #fbfbfd /* bg_color */;
    --content-header-color: #5d5e79 /* content_header_color */;
    --content-header-bg-color: #151726 /* content_header_bg_color */;
    --link-color: #fbfbfb /* link_color */;
    --alt-text-color: #5d5e79 /* alt_text_color */;
    --menu-link-bg-color: #f0f1f3 /* menu_link_bg_color */;
    --menu-link-border-color: #d5d8dd /* menu_link_border_color */;
    --menu-link-hover-color: #e7e7e7 /* menu_link_hover_color */;
    --user-profile-color: #2d3942 /* user_profile_color */;
    --price-bg-color: #77b7bf /* price_bg_color */;
    --category-link-color: #77b7bf /* category_link_color */;
    --main-border-color: #d0e4e4 /* main_border_color */;
    --main-text-color: #6c7f90 /* main_text_color */;
    --cart-border-color: #d8dde5 /* cart_border_color */;
    --stage-text-color: #ed7c77 /* stage_text_color */;
    --menu-active-link-color: #0a0b15 /* menu_active_link_color */;
    --box-border-color: #eaeff3 /* box_border_color */;
    --discount-code-color: #91cbbf /* discount_code_color */;
    --cart-summary-price-color: #91cbbf /* cart_summary_price_color */;
    --wrong-answer-color: #91cbbf /* wrong_answer_color */;
    --placeholder-color: #bcbdc9 /* placeholder_color */;
    --breadcrumbs-color: #bcbdc9 /* breadcrumbs_color */;
    --form-text-color: #bcbdc9 /* form_text_color */;
    --menu-bg-color: #1d1e2f /* menu_bg_color */;
    --menu-bg-color-inverted: #bbb890 /* menu_bg_color_inverted */;
    --menu-border-color: #2e2f3f /* menu_border_color */;
    --tab-border-color: #eaeaf5 /* tab_border_color */;
    --stage-text-border-color: #eaeff4 /* stage_text_border_color */;
    --tab-alt-text-color: #9badbe /* tab_alt_text_color */;
    --login-input-placeholder: #d7d7de /* login_input_placeholder */;
    --course-stage-line-color: #d9e2ea /* course_stage_line_color */;
    --inactive-bg-color: #dfdfdf /* inactive_bg_color */;
    --inactive-border-color: #cecece /* inactive_border_color */;
    --lesson-icon-color: #f1a2a0 /* lesson_icon_color */;
    --lesson-text-color: #6c7f91 /* lesson_text_color */;
    --footer-bg-color: #1a1a29 /* footer_bg_color */;
    --price-border-color: #368791 /* price_border_color */;
    --display-mode-color: #5f6368 /* display_mode_color */;
    --price-available-color: #90cbbf /* price_available_color */;
    --comments-third-color: #97a3af /* comments_third_color */;
    --login-label-color: #99a5b0 /* login_label_color */;
    --pagination-bg-color: #a1a4aa /* pagination_bg_color */;
    --lesson-completed-link-color: #b6b6c3 /* lesson_completed_link_color */;
    --cart-promotion-price-color: #babac3 /* cart_promotion_price_color */;
    --promotion-price-color: #d3d4e1 /* promotion_price_color */;
    --completed-lesson-input-border: #d8d8dd /* completed_lesson_input_border */;
    --display-mode-icon-color: #e2e1e1 /* display_mode_icon_color */;
    --display-mode-active-icon-color: #f9988e /* display_mode_active_icon_color */;
    --lesson-top-bg-color: #e8e8ee /* lesson_top_bg_color */;
    --lesson-top-text-color: #5d5e79 /* lesson_top_text_color */;
    --main-box-border-color: #eaf0f3 /* main_box_border_color */;
    --quiz-summary-img-frame-color: #ebf0f4 /* quiz_summary_img_frame_color */;
    --quiz-summary-img-border-color: #f5f8f9 /* quiz_summary_img_border_color */;
    --quiz-summary-img-bg-color: #fefefe /* quiz_summary_img_bg_color */;
    --stage-bg-color: #f5f5f8 /* stage_bg_color */;
    --tab-bg-color: #ffffff /* tab_bg_color */;
    --default-img-bg-color: #272434 /* default_img_bg_color */;
    --default-img-color: #474252 /* default_img_color */;
    --footer-text-color: #ffffff /* footer_text_color */;
    --generic-white-color: #ffffff /* generic_white_color */;
}