.bpmj_eddpc_meta_table_wrap table {
    margin-bottom: 30px;
}

.bpmj_eddpc_access_time {
    clear: both;
}


/**
 * Admin Settings
 */
#edd_paid_content_renewal td, #edd_paid_content_renewal th{
	padding-left: 10px;
}

#edd_paid_content_renewal .subject{
	width: 60%;
}

#edd_paid_content_renewal .send-period{
	width: 30%;
}

#edd_paid_content_renewal .actions{
	width: 15%;
}

#edd_paid_content_renewal .bpmj-eddpc-renewal-delete{
	color: #a00;
}

#bpmj-eddpc-renewal-form ul{
  font-size: 12px;
  margin: 0;
  padding: 0;
}

#bpmj-eddpc-renewal-form ul li{
	margin: 10px 0px;
}


/**
 * Customer Tab
 */
.customer-view-avatar, .customer-view-desc{
	float: left;
}

.customer-view-desc{
	margin-left: 15px;
}

.customer-view-desc span{
	display: block;
}

.customer-view-desc span.name{
	font-size: 18px;
	font-weight: 600;
}

#customer-tables-wrapper{
	clear: both;
}

#customer-tables-wrapper .downloads tr:nth-child(-4n+5),
#customer-tables-wrapper .downloads tr:nth-child(-4n+6){
	background: #fff;
}


#customer-tables-wrapper .downloads tr:nth-child(4n+3),
#customer-tables-wrapper .downloads tr:nth-child(4n+4){
	background: #f9f9f9;
}


#customer-tables-wrapper .edit-access h3{
	margin-top: 0px;
}

#customer-tables-wrapper .edit-access .half-column{
	width: 47%;
	padding-left: 15px;
	float: left;
}

#customer-tables-wrapper .edit-access .column-container{
	margin-left: -15px;
	margin-right: -15px;
}

#customer-tables-wrapper .edit-access .button{
	margin: 10px 0px;
	float: right;
}

#customer-tables-wrapper .edit-access td{
	position: relative;
}

#customer-tables-wrapper .edit-access label{
	display: block;
	margin-bottom: 15px;
}

#customer-tables-wrapper .edit-access .loader-container{
	position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255,255,255,.7);
  z-index: 99999;
}

#customer-tables-wrapper .edit-access .loader {
	margin: 120px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(47,167,255, 0.2);
  border-right: 1.1em solid rgba(47,167,255, 0.2);
  border-bottom: 1.1em solid rgba(47,167,255, 0.2);
  border-left: 1.1em solid #2fa7ff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
#customer-tables-wrapper .edit-access .loader,
#customer-tables-wrapper .edit-access .loader:after {
  border-radius: 50%;
  width: 5em;
  height: 5em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}